<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <div class="header-icon">
          <ion-icon name="lock-closed-outline" class="lock-icon"></ion-icon>
        </div>
        <ion-card-title>Reestablecer Contraseña</ion-card-title>
        <ion-card-subtitle>Ingresa tus nuevas credenciales</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
          <ion-item class="custom-item">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input [(ngModel)]="username" name="username" type="text" required class="custom-input">
            </ion-input>
            </ion-item>
            
            <ion-item class="custom-item">
              <ion-label position="floating">Nueva Contraseña</ion-label>
              <ion-input [(ngModel)]="newPassword" name="newPassword" type="password" required class="custom-input">
              </ion-input>
            </ion-item>

          <ion-button expand="block" type="submit" [disabled]="!resetForm.valid" class="submit-button">
            <ion-icon name="key-outline" slot="start"></ion-icon>
            Cambiar contraseña
          </ion-button>
          
          <ion-button fill="clear" expand="block" routerLink="/login" class="back-button">
            <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
            Volver al inicio de sesión
          </ion-button>
          </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>